body {
    font-family: Arial, sans-serif;
    background-color: white; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.base {
    width: 800px;
    background: white;
    overflow: hidden; 
    border: 1px solid #ccc; 
    padding-bottom: 40px; 
}

.cabeza {
    background-color: #0097A7; 
    height: 120px; 
}

.imagen {
    width: 150px; 
    height: 150px; 
    background: white;
    border-radius: 50%; 
    margin: -75px 20px 15px 20px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 6px solid white; 
}

.imagen img {
    width: 155px; 
    height: 155px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.contenido {
    padding: 0 40px; 
    text-align: left; 
    display: flex; 
    flex-direction: column; 
}

.contenido h2 {
    margin: 10px 0 5px; 
    font-size: 28px; 
}

.contenido p {
    margin: 8px 0;
    color: gray;
    font-size: 18px; 
}

.contenido .location {
    display: flex; 
    align-items: center;
    font-size: 16px;
    color: gray; 
}

.contenido .location::before {  
    content: '📍'; 
    margin-right: 5px; 
}

.ajustes {
    margin-top: 15px; 
}

.ajustes a {
    text-decoration: none; 
    color: #007bff;
    font-size: 18px;
    font-weight: bold; 
}

.ajustes a::before {   
    content: '⚙️ '; 
    font-size: 18px; 
}
