body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: white;
}

h1 {
  color: rgb(58, 55, 55);
}

.base {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: magenta;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: mediumvioletred;
}
