* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: rgb(255, 252, 241);
    color: white;
  }
  
  header {
    background-color: #34495e;
    text-align: center;
    padding: 2rem 1rem;
  }
  
  .container {
    background-color: white;
    margin: 2rem auto;
    max-width: 1000px;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 2px black;
  }
  
  .inicio {
    background-color: #e67e22;
    padding: 2rem;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 1rem;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .box {
    background-color: #d35400;
    flex: 1 1 250px;
    padding: 1.5rem;
    border-radius: 6px;
    text-align: center;
  }
  
  
  